html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;

}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Generales */
  
a {
  text-decoration: none;
}

body {
  color: white;
  margin: 0rem;
  font-family: 'Nunito Sans';
}

textarea {
  resize: none;
}




/** Utilidades **/

  .no-margin {
      margin: 0;
  }
  
  .no-padding {
      padding: 0;
  }
  
  .centrar-texto {
      text-align: center;
  }
  .subrayado {
      text-decoration: underline;
      text-underline-position: under;
      text-decoration-color: red;
  
  }

.fijo{
  width: 100%;
  overflow:hidden;
}

.encabezado{
  color:black;
  text-align: center;
  font-size:3rem;
}